{% for facet in facets %}
  <div class="facet-block">
    {% if show_title %}
      <h5 class="facet-block__title">{{ facet.title }}</h5>
    {% endif %}
    <div class="facet-block__content">{{ facet.content }}</div>
  </div>
{% endfor %}
